/*General styling*/

body
{
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
}

section
{
  margin: 30px auto;
}

div
{
  margin: 5px;
}

h1,
h2,
h3,
div
{
  text-align: center;
}

h1
{
  margin: 20px 0;
  font-size: 1.8em;
}

h2
{
  margin: 10px 0;
  font-size: 1.6em;
}

h3
{
  margin: 5px 0;
  font-size: 1.4em;
}

button
{
  height: 30px;
}

li
{
  text-align: left;
}

.flex
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block
{
  display: block;
  margin: 0 auto;
}

.inline-block
{
  display: inline-block;
  margin: 0 auto;
  padding-inline-start: 0;
}